# vim: ft=yaml
# -*-YAML-*-
---
ignore: |
  molecule/*/tests/

extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
